body{
    background: #212f3c;
}
.reg-box h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
}

.divider {
    border: 1px solid rgba(255, 204, 0, 1);
    margin: 5%;
    margin-bottom: 10%;
}

.reg-box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #f1c40f;
}

.reg-box input[type="text"],
.reg-box input[type="password"],
.reg-box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    color: white;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 18px;
}

.reg-box input[type="text"]:focus,
.reg-box input[type="email"]:focus {
    width: 280px;
    border-color: #0099ff #ff6600;
    color: white;
}

.slt {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 18px;
    color: white;
    appearance: none;
}

.slt-op {
    text-align: center;
    border-radius: 100px;
    font-size: 18px;
    color: white;
    background-color: #212f3c;
    outline: none;
}

.reg-box input[type="password"]:focus {
    width: 280px;
    border-color: #0099ff #ffff00;
    color: white;
}

.slt:focus {
    width: 280px;
    border-color: #0099ff #f39c12;
    color: white;
}

.reg-box input[type="submit"],
.reg-box input[type="reset"] {
    border: 0;
    background: none;
    margin: 10px;
    text-align: center;
    border: 4px solid;
    border-color: rgba(51, 51, 51, 1) rgba(255, 255, 255, 1) rgba(51, 51, 51, 1) rgba(255, 255, 255, 1);
    padding: 14px 0px;
    width: 120px;
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.reg-box input[type="submit"]:hover {
    background: none;
    color: #fdfefe;
    border-color: rgba(51, 51, 51, 1) rgba(255, 204, 0, 1) rgba(51, 51, 51, 1) rgba(255, 204, 0, 1);
}

.reg-box input[type="reset"]:hover {
    background: none;
    color: #fdfefe;
    border-color: rgba(51, 51, 51, 1) rgba(255, 0, 0, 1) rgba(51, 51, 51, 1) rgba(255, 0, 0, 1);
}

.t {
    color: #fdfefe;
}

.link {
    color: cornflowerblue;
    text-decoration: #fdfefe;
}

.link:hover {
    color: #fdfefe;
}

@media only screen and (max-width: 800px) {
    .reg-box h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 36px;
    }

    .divider {
        border: 1px solid rgba(255, 204, 0, 1);
        margin: 5%;
        margin-bottom: 10%;
    }

    .reg-box {
        width: 70%;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: none;
        border-radius: 20px 20px 20px 20px;
        border: 1px solid #f1c40f;
    }

    .reg-box input[type="text"],
    .reg-box input[type="password"],
    .reg-box input[type="email"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 8px 10px;
        width: 200px;
        outline: none;
        border-radius: 24px;
        transition: 0.25s;
        font-size: 18px;
    }

    .reg-box input[type="text"]:focus,
    .reg-box input[type="email"]:focus {
        width: 280px;
        border-color: #0099ff #ff6600;
        color: white;
    }

    .slt {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 8px 10px;
        width: 200px;
        border-radius: 24px;
        transition: 0.25s;
        font-size: 18px;
        color: white;
        appearance: none;
    }

    .slt-op {
        text-align: center;
        border-radius: 100px;
        font-size: 18px;
        color: white;
        background-color: #212f3c;
        outline: none;
    }

    .reg-box input[type="password"]:focus {
        width: 280px;
        border-color: #0099ff #ffff00;
        color: white;
    }

    .reg-box input[type="submit"],
    .reg-box input[type="reset"] {
        border: 0;
        background: none;
        margin: 10px;
        text-align: center;
        border: 4px solid;
        border-color: rgba(51, 51, 51, 1) rgba(255, 255, 255, 1) rgba(51, 51, 51, 1) rgba(255, 255, 255, 1);
        padding: 8px 0px;
        width: 100px;
        outline: none;
        color: rgba(255, 255, 255, 1);
        border-radius: 40px;
        transition: 0.5s;
        font-size: 18px;
        cursor: pointer;
    }

    .reg-box input[type="submit"]:hover {
        background: none;
        color: #fdfefe;
        border-color: rgba(51, 51, 51, 1) rgba(255, 204, 0, 1) rgba(51, 51, 51, 1) rgba(255, 204, 0, 1);
    }

    .reg-box input[type="reset"]:hover {
        background: none;
        color: #fdfefe;
        border-color: rgba(51, 51, 51, 1) rgba(255, 0, 0, 1) rgba(51, 51, 51, 1) rgba(255, 0, 0, 1);
    }
}
